@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

html {
	scroll-behavior: smooth;
	@apply font-body font-normal text-base;
}

body {
	@apply font-montserrat font-normal text-base;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.container {
		@apply mx-auto max-w-[94%] md:max-w-[900px] w-[96%];
	}



	.upgrade-con {
		.items {
			@apply flex flex-col gap-6 md:text-center px-3 md:px-8;

			.inner {
				@apply flex flex-row md:flex-col gap-4 items-center;

				.icon {
					@apply w-24 h-24 flex items-center justify-center border font-body italic font-black text-5xl bg-[#FAF5EC] border-[#E3CA9F] text-tamarillo-950 rounded-tl-[20px] rounded-br-[20px];
				}

				h3 {
					@apply font-roboto text-xl lg:text-2xl lg:text-[28px] font-bold;
				}

				.lable {
					@apply bg-tamarillo-950 px-3 py-1 rounded-md text-center text-[#FAF5EC] text-lg lg:text-xl xl:text-2xl font-bold;
				}
			}

			p {
				@apply font-arial text-lg lg:text-2xl text-black/80;
			}
		}
	}

	.img-box {
		@apply relative w-fit mx-auto;
	}

	.offer-save {
		@apply absolute -rotate-6 bottom-0 left-0 sm:-bottom-4 sm:-left-4 2xl:-bottom-14 2xl:-left-14 bg-no-repeat p-6 lg:p-8 xl:p-10 2xl:p-14 text-center bg-[url(../images/save-img.svg)];
		background-size: 100% 100%;

		span {
			@apply text-white font-extrabold font-roboto text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl;
		}

		h4 {
			@apply text-white font-extrabold font-roboto text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl;
		}
	}

	.free-shipping {
		@apply absolute bottom-0 right-0 sm:-bottom-4 sm:-right-4 2xl:-bottom-24 2xl:-right-24 w-32 md:w-40 lg:w-48 xl:w-52 2xl:w-auto;
	}

	.my-order-btn {
		@apply bg-gradient-to-b from-[#338C4C] to-[#56AD6F] rounded-full font-bold font-roboto italic px-10 py-4 transition ease-in-out delay-150 text-xl md:text-2xl lg:text-3xl xl:text-4xl text-white;

		&:hover {
			@apply bg-gradient-to-t duration-300;
		}
	}

	.reviews-box {
		@apply rounded-t-xl bg-white shadow-custom flex items-center flex-col justify-items-stretch overflow-hidden pb-5;

		h5 {
			@apply font-extrabold text-base md:text-xl text-black mb-2;
		}

		p {
			@apply font-semibold font-body text-lg md:text-2xl text-[#565656];
		}
	}

	.page-title {
		@apply text-start flex items-center justify-center gap-4 relative;

		h3 {
			@apply font-body font-black text-black text-2xl lg:text-3xl xl:text-4xl bg-white px-3 md:px-8 relative;
		}

		&:before {
			content: "";
			@apply w-full h-[1px] bg-black/10 absolute left-0 right-0 -z-10 inset-0 top-2/4;
		}

	}
}